openapi: 3.1.0
info:
  title: Perplexity AI Agent Models API
  description: Perplexity AI API
  version: 1.0.0
servers:
- url: https://api.perplexity.ai
  description: Perplexity AI API
tags:
- name: Models
paths:
  /v1/models:
    get:
      summary: List Models
      description: List the models available for the Agent API. Returns model identifiers that can be used with the `POST /v1/agent` endpoint. The response follows the OpenAI List Models format for compatibility with third-party tools.
      operationId: listModels
      security: []
      responses:
        '200':
          description: Successful response with the list of available models.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
              example:
                object: list
                data:
                - id: anthropic/claude-sonnet-4-6
                  object: model
                  created: 0
                  owned_by: anthropic
                - id: openai/gpt-5.4
                  object: model
                  created: 0
                  owned_by: openai
                - id: perplexity/sonar
                  object: model
                  created: 0
                  owned_by: perplexity
      tags:
      - Models
components:
  schemas:
    Model:
      type: object
      description: Represents a model available through the Agent API.
      properties:
        id:
          type: string
          description: The model identifier in `provider/model-name` format. Use this value as the `model` parameter in Agent API requests.
          example: openai/gpt-5.4
        object:
          type: string
          description: The object type, which is always `model`.
          enum:
          - model
          example: model
        created:
          type: integer
          description: The Unix timestamp (in seconds) when the model was created.
          example: 0
        owned_by:
          type: string
          description: The provider that owns the model (e.g. `openai`, `anthropic`, `google`, `perplexity`, `xai`, `nvidia`).
          example: openai
      required:
      - id
      - object
      - created
      - owned_by
    ListModelsResponse:
      type: object
      description: Response from the List Models endpoint. Contains a list of available models.
      properties:
        object:
          type: string
          description: The object type, which is always `list`.
          enum:
          - list
          example: list
        data:
          type: array
          description: A list of model objects.
          items:
            $ref: '#/components/schemas/Model'
      required:
      - object
      - data
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
